@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");

:root {
  /* TYPOGRAPHY */
  --FF-type-One: "Montserrat", sans-serif;
  --FF-type-Two: "Fraunces", serif;

  --FW-normal: 500;
  --FW-bold: 700;

  --FS-normal: 0.875rem;

  /* COLORS */
  --Primary-Dark-Cyan: hsl(158, 36%, 37%);
  --Primary-Cream: hsl(30, 38%, 92%);

  --Neutral-Very-Dark-Blue: hsl(212, 21%, 14%);
  --Neutral-Dark-Grayish-Blue: hsl(228, 12%, 48%);
  --Neutral-White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  font-family: var(--FF-type2, serif);
  font-weight: var(--FW-bold);
  font-size: calc(0.5em + 1vw);
  text-align: center;
  margin: 2em 0;
}
.attribution a:link {
  color: var(--Primary-Dark-Cyan);
  text-decoration: none;
}
.attribution a:visited {
  color: var(--Neutral-Dark-Grayish-Blue);
}
.attribution a:hover,
.attribution a:focus,
.attribution a:active {
  color: var(--Neutral-Very-Dark-Blue);
  text-decoration: underline;
}

body {
  background-color: var(--Primary-Cream);
  padding: 1em;
}

main {
  background-color: var(--Neutral-White);
  max-width: calc(35em + 1vw);
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}

.mobile {
  max-width: 100%;
  height: auto;
  display: block;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}
.desktop {
  position: absolute;
  top: -1000px;
}

section {
  padding: 1.5em;
}
.product-name {
  font-size: var(--FS-normal);
  font-family: var(--FF-type-One, sans-serif);
  font-weight: var(--FW-normal);
  color: var(--Neutral-Dark-Grayish-Blue);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 0.5em;
}

h1 {
  font-family: var(--FF-type-Two, serif);
  font-weight: var(--FW-bold);
  font-size: 2rem;
  color: var(--Neutral-Very-Dark-Blue);
  margin-bottom: 0.5em;
}

.product-info {
  font-size: var(--FS-normal);
  font-family: var(--FF-type-One, sans-serif);
  font-weight: var(--FW-normal);
  color: var(--Neutral-Dark-Grayish-Blue);
  margin-bottom: 1em;
  line-height: 1.7;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  column-gap: 1em;
}

.price-now {
  font-family: var(--FF-type-Two, serif);
  font-weight: var(--FW-bold);
  color: var(--Primary-Dark-Cyan);
  font-size: 2rem;
}

.deleted-price {
  font-family: var(--FF-type-Two, serif);
  color: var(--Neutral-Dark-Grayish-Blue);
  font-size: initial;
  font-size: 0.8rem;
}

button {
  display: flex;
  justify-content: center;
  column-gap: 0.8em;
  background-color: var(--Primary-Dark-Cyan);
  font-family: var(--FF-type-Two, serif);
  font-weight: var(--FW-bold);
  color: var(--Primary-Cream);
  padding: 1em;
  text-align: center;
  min-width: 90%;
  border: none;
  border-radius: 0.8em;
}
button:hover,
button:focus,
button:active {
  background-color: hsl(157, 35%, 19%);
  cursor: pointer;
}

/* Media Query */

@media (min-width: 700px) {
  body {
    padding-block: 4em;
  }
  main {
    flex-direction: row;
    width: 50em;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  section {
    width: 90%;
  }
  .desktop {
    position: static;
    max-width: 100%;
    height: auto;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .mobile {
    position: absolute;
    top: -1000px;
  }
}
